.Category-view {
  height: 80%;
}

.Vehicles-label, .Appliances-label, .Computers-label, .Furniture-label {
  color: blue;
  font-size: 1.25em;
  text-decoration: none;

}


.Item {
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  margin: 15px;
  background-color: #ffbcf9;
  position: relative;
}
.Item div {
  margin: 2px;
}

  .Item-price {
    font-size: 11px;
    border: 1px solid #474747;
    border-radius: 5px;
    padding: 3px;
    color: green;
    display: inline;
    position: absolute;
    left: 5px;
    top: 5px;
  }
  .Item-price:hover {
    font-size: 13px;
    cursor: pointer;
    color: yellow;
  }

  .Item-name {

  }
  .Item-condition {
    background-color: #ded1ff;
    font-size: 13px;
    padding: 1px;
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    display: inline-block;
  }
    .Item-condition span {
      color: blue;
      font-weight: bold;
    }
  .Item-category {
    background-color: #ded1ff;
    font-size: 14px;
    padding: 1px;
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    display: inline-block;
  }
  .Item-date {
    font-size: 10px;
    color: #474747;
    display: inline-block;
  }
  .Link  {
    font-size: 13px;
    color: green;
    text-decoration: none;
  }
  .Link:hover {
    color: yellow;
    text-decoration: underline;
  }