@media all and (min-width: 480px) {

.Login-form {
  width: 27%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.Login-box {
  border: 1px solid black;
  display: block;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  margin-bottom: 15px;
  background-color: #cccccc;
}
.Login-form form {
  margin: 0 auto;
  max-width: 480px;
  border: 1px solid black;
  padding: 5px;
}
.Login-form input {
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
  width: 95%;
}
.Login-form button {
  background-color: yellow;
  border: 1px solid black;
  border-radius: 5px;
  margin: 4px;
  cursor: pointer;
  font-weight: bold;
}
.Login-form button:hover {
  background-color: #997500;
}


}
