.App {
  text-align: center;
  display: flex;
  flex-flow: column;
}

.home_list {
  display: flex;
  flex: row;
  justify-content: space-around;
}

.Filter {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.Filter-title {
  font-size: 2em;
  border: 1px solid black;
}

.Item {
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  margin: 15px;
  background-color: #ffbcf9;
  position: relative;
}
.Item div {
  margin: 2px;
}

  .Item-price {
    font-size: 11px;
    border: 1px solid #474747;
    border-radius: 5px;
    padding: 3px;
    color: green;
    display: inline;
    position: absolute;
    left: 5px;
    top: 5px;
  }
  .Item-price:hover {
    font-size: 13px;
    cursor: pointer;
    color: yellow;
  }

  .Item-name {

  }
  .Item-condition {
    background-color: #ded1ff;
    font-size: 13px;
    padding: 1px;
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    display: inline-block;
  }
    .Item-condition span {
      color: blue;
      font-weight: bold;
    }
  .Item-category {
    background-color: #ded1ff;
    font-size: 14px;
    padding: 1px;
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    display: inline-block;
  }
  .Item-date {
    font-size: 10px;
    color: #474747;
    display: inline-block;
  }
  .Link  {
    font-size: 13px;
    color: green;
    text-decoration: none;
  }
  .Link:hover {
    color: yellow;
    text-decoration: underline;
  }



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;

}

.App-header {
  background-color: #222;
  height: 175px;
  padding: 10px;
  color: white;
  position: relative;
}

.App-title {
  font-size: 1.5em;
  display: inline-block;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Login-reg {
  border: 1px solid green;
  width: 25%;
  position: absolute;
  right: 0;
}

  .Login-reg ul {
    margin: 0 auto;
  }

  .Login-reg-first {
    border-left: 1px solid white;
  }

  .Login-reg li {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    border-right: 1px solid white;
  }

  .Login-reg li a {
    text-decoration: none;
    color: white;
  }

  .Login-reg li a:hover {
    text-decoration: underline;
    color: cyan;
  }

/* LOGIN AND REGISTER FORMS */
.Login-form {
  position: absolute;
  right: 0;
  top: 50px;
}

  .Login-form form {

  }
  .Login-form input {
    margin: 3px;
    border-radius: 5px;
  }
  .Login-form button {
    margin: 3px;
    background-color: yellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .Login-form button:hover {
    background-color: #997500;
  }

.NewUserForm {
  position: absolute;
  right: 0;
  top: 50px;
}

  .NewUserForm form {

  }
  .NewUserForm input {
    margin: 3px;
    border-radius: 5px;
  }
  .NewUserForm button {
    margin: 3px;
    background-color: yellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .NewUserForm button:hover {
    background-color: #997500;
  }

/* APPLICATION VIEWS */
.NewItemForm {
  border: 1px solid black;
  margin: 5px;
  display: flex;
  flex-direction: column;
  float: left;
  width: 20%;
}
  .NewItemFormLabel {
    /* border: 1px solid blue; */
    font-size: 11px;
    margin-left: 5px;
  }
  .NewItemForm form {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    margin: 5px;
  }
  .NewItemForm input {
    display: flex;
    flex-direction: row;
    /* border: 1px solid cyan; */
    margin: 5px;
    padding: 2px;
  }
  .NewItemForm textarea {
    display: flex;
    /* border: 1px solid cyan; */
    margin: 5px;
    padding: 2px;
  }
  .NewItemForm button {
    background-color: yellow;
    border: none;
    border-radius: 5px;
    margin: 5px;
  }
  .NewItemForm button:hover {
    background-color: #997500;
    color: yellow;
    cursor: pointer;
  }
  .Select {
    /* border: 1px solid green; */
    margin: 5px;
  }




.EditItemForm {

}

/* DUMMY COMPONENTS */


.Select {

}
