body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.myItems{
  display: flex;
  flex-direction: column;
}

.publishedDiv{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.soldDiv{
  display: flex;
  flex-direction: column;
}

.myPublishedItems{
  display: flex;
  flex-direction: row;
}

.mySoldItems{
  display: flex;
  flex-direction: column;
}

.status-filter{
  display: flex;
}

.myItemsDiv{
  display: flex;
  justify-content: space-around;
}

.userItem{
  display: flex;
  flex-direction: column;
}

.editUser{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.userSettings{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settingsHeader{
  display: flex;
  justify-content: space-around;
}

.settingsButton{
  display: flex;
  justify-content: space-around;
}

.status-filter{
  display: flex;
  flex-flow: row wrap;
}