.Header {
  background-color: #222;
  height: 25%;
  position: relative;
}

.Header-logo {

}

.CurrentUser {
  
}

.Login-reg {
  border: 1px solid green;
  width: 25%;
  position: absolute;
  right: 10px;
  top: 10px;
}

  .Login-reg ul {
    margin: 0 auto;
  }

  .Login-reg li {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    border: 1px solid white;
  }

  .Login-reg li a {
    text-decoration: none;
    color: white;
  }

  .Login-reg li a:hover {
    text-decoration: underline;
    color: cyan;
  }