.header {
  height: 105px;
  color: white;
  position: relative;
  border: 3px solid cyan;
}

.options {
  width: 25%;
  position: absolute;
  right: 0;
}

  .options li {
    list-style-type: none;
    display: inline-block;
    padding: 3px;
    margin: 1px;
  }

  .new, .account {
    font-size: 0.75em;
    color: blue;
    text-decoration: none;
    cursor: pointer;
  }
  .new:hover, .account:hover {
    text-decoration: underline;
  }

.user {
  border: 1px solid green;
  width: 25%;
  position: absolute;
  left: 0;
}
  
  .user li {
    list-style-type: none;
    border: 1px solid yellow;
  }
  .user li a {
    border: 1px solid blue;
    text-decoration: none;
  }
  .user li a:hover {
    text-decoration: underline;
    cursor: pointer;
  }